.feature{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
      padding-top: 94px;
    }
}
.feature-social-icon {
    background-color: #f5f4fa;
    text-align: center;
  }
  .feature-icon-wrapper {
    width: 100%;
    background-color: #f5f4fa;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .feature-item {
    width: 100%;
    @media screen and (min-width: 768px){
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px){
      width: calc((100% - 90px) / 4);
    }
  }
  
  .feature-title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (min-width: 768px){
      text-align: left;
    }
    @media screen and (min-width: 1200px){
      text-align: left;
    }
  }
  .feature-text {
    color: var(--color-grey);
  }
  
  