:root {
    --background-color-first: #2f303a;
    --background-color-second: #f5f4fa;
    --color-hover-focus: #2196f3;
    --color-white: #ffffff;
    --color-dark: #212121;
    --color-grey: #757575;
    --icon-color: #afb1b8;
    --font-family: 'Roboto', sans-serif;
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  